.form-control {
  width: 11rem;
  /* background-color: #f1dada; */
  font-size: 1rem;
  color: #5a5a5a;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type="checkbox"] {
  width: 1rem;
}
