#length-container {
  width: 28.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

span {
  background-color: #eeeeee;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.5rem;
  box-shadow: inset 1px 2px 8px rgba(78, 87, 95, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="range"] {
  width: 23.5rem;
}
