#password-display {
  border: none;
  outline: none;
  height: 4rem;
  background-color: #eeeeee;
  padding: 1rem 1rem;
  box-shadow: inset 1px 2px 8px #4e575f80;
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: 600;
  color: #5a5a5a;
  text-align: center;
  border-radius: 10px;

  animation: pulse 0.5s ease-in;
  transition: all 0.8s ease;
}

#password-display:hover {
  color: #2d71e5;
  font-size: 1.4rem;
  cursor: grab;
}

#password-display:active {
  color: #5a5a5a;
  cursor: grabbing;
}

@keyframes pulse {
  0% {
    color: #2d71e5;
    font-size: 1.4rem;
  }

  100% {
    color: #5a5a5a;
    font-size: 1.2rem;
  }
}
